@import url('https://fonts.googleapis.com/css2?family=Karla:wght@600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400;600&display=swap');

:root {
	--c-bg: hsl(0,0%,100%); /* #ffffff */
	--c-text: hsl(0,0%,10%); /* #1a1a1a */
	--c-text-alt: hsl(0,0%,60%); /* #1a1a1a */
	--c-detail: hsl(0,0%,90%); /* #e6e6e6 */
    --f-family: 'Inter' , sans-serif;
    --f-family-text: 'IBM Plex Mono', monospace;
    --f-size: 15px;
    --f-height: 24px;
    --f-weight: 400;
    --f-scale-s: 0.87;
    --f-scale-m: 1.20;
    --f-scale-l: 1.47;
    --l-wide: 39rem;
    --l-text: 25rem;
}

* {
	margin: 0;
	padding: 0;
}

html, body {
	position: relative;
	width: 100%;
	height: 100%;
}

ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

li {
	margin-bottom: 1rem;
}

li:before {
	content: "* ";
	font-weight: 700;
}


body {
	color: #333;
	max-width: 740px;
	margin: 0 auto;
	box-sizing: border-box;
	font-family: var(--f-family);
}

p {
	line-height: 1.7;
	margin-bottom: 1em;
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

label {
	display: block;
}

input, button, select, textarea {
	font-family: inherit;
	font-size: inherit;
	-webkit-padding: 0.4em 0;
	padding: 0.4em;
	margin: 0 0 0.5em 0;
	box-sizing: border-box;
	border: 1px solid #ccc;
	border-radius: 2px;
}

input:disabled {
	color: #ccc;
}

button {
	color: #333;
	background-color: #f4f4f4;
	outline: none;
}

button:disabled {
	color: #999;
}

button:not(:disabled):active {
	background-color: #ddd;
}

button:focus {
	border-color: #666;
}

p,li,a, .home__section__heading {
	font-family: var(--f-family-text);
}

.home__section {
	margin-bottom: 3rem;
}

.home__section__heading {
	font-size: 25px;
	margin-bottom: 1rem;
}

.home__section__heading span {
	color: #438ae8;
}

.home__section__subheading {
	margin-bottom: 2rem;
}

a {
	font-weight: 700;
	color: #e8438a;
}
