<section class="home__section home-about">
	<h3 class="home__section__heading">
		<span>root@fishrxyz:~#</span> whoami
	</h3>
	<p>
		My name is Karim Cheurfi. I'm a linux nerd turned full stack developer 
		with 6 years of profresionnal experience. I have a strong interest in DevOps 
		(currently working on getting certified) and penetration testing 
		(I play CTFs in my spare time). I care about minimal, clean and secure code. 
		Over the years, I've worked in both England and France (and now remotely 
		for US based companies), for development studios, startups and consulting 
		firms. Have <a href="/cv.pdf">a look at my CV </a> for more details. 
		Personally, my interests include cooking, photography, cypherpunk 
		(not cyberpunk), futurism, collecting fragrances, DeusEx and arguing
		online about football.
	</p>
</section>
