<footer class="home__footer">
	<p class="home__footer__info">
		&copy; 2021 - Made with vim and svelte. <a href="http://sysylw6ngqyaxbdceuyrmfzeechur6vx4gnzmnqfejxapowrb4374zyd.onion">Onion version</a>.
	</p>
</footer>
