<style type="text/css" media="screen">

	.home__header {
		position: relative;
		margin-bottom: 3rem;
	}

	.home__logo {
		background: black;
		display: inline-block;
		padding: .75em 1em;
		margin-bottom: 2.5rem;
	}
	
	.home__logo span {
		font-size: 1.5em;
		font-weight: 700;
		color: white;
		position: relative;
		letter-spacing: 1px;
	}

	.home__header__title {
		font-size: 40px;
		display: inline-block;
		margin-bottom: 1.5rem;
	}

	.home__header__links {
		position: absolute;
		top: 0;
		right: 0;
	}

	.header__links__link {
		display: inline-block;
		margin-right: 15px;
	}

	.header__links__link:before {
		display: none;
	}

	.header__links__link:last-child {
		margin-right: 0;
	}

</style>

<header class="home__header">
	<div class="home__logo">
		<span>カリム・チェリフィ</span>	
	</div>

	<h1 class="home__header__title">Hello and Welcome ! I'm fishr.</h1>

	<ul class="home__header__links">
		<li class="header__links__link">
				<a href="mailto:karim@fishr.xyz">
					<svg xmlns="http://www.w3.org/2000/svg" viewBox="-2 -5 24 24" width="24" height="24" preserveAspectRatio="xMinYMin" class="icon__icon"><path d="M18.572.083L10.676 7.12a1 1 0 0 1-1.331 0L1.416.087A2 2 0 0 1 2 0h16a2 2 0 0 1 .572.083zm1.356 1.385c.047.17.072.348.072.532v10a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2c0-.185.025-.364.072-.534l7.942 7.148a3 3 0 0 0 3.992 0l7.922-7.146z"></path></svg>
				</a>
		</li>
		<li class="header__links__link">
				<a href="https://gitlab.com/fishrxyz">
					<svg xmlns="http://www.w3.org/2000/svg" viewBox="-2 -2.5 24 24" width="24" height="24" preserveAspectRatio="xMinYMin" class="icon__icon"><path d="M10.006 18.443L6.326 7.118h7.36l-3.68 11.325zm0 0L1.168 7.118h5.158l3.68 11.325zM1.168 7.118l8.838 11.325-9.68-7.032a.762.762 0 0 1-.276-.852l1.118-3.441zm0 0L3.385.296a.38.38 0 0 1 .724 0l2.217 6.822H1.168zm8.838 11.325l3.68-11.325h5.157l-8.837 11.325zm8.837-11.325l1.119 3.441a.762.762 0 0 1-.277.852l-9.68 7.032 8.838-11.325zm0 0h-5.157L15.902.296a.38.38 0 0 1 .725 0l2.216 6.822z"></path></svg>
				</a>
		</li>
	</ul>

	<p class="home__header__blurb">
		I'm a freelance full stack engineer based in Paris, France. 
		I'm currently working remotely as a lead developer at 
	 	<a href="https://niceboard.co">Niceboard</a>, building an awesome product.
	</p>
</header>
