<style type="text/css" media="screen">

	.projects__project {
		font-size: 1.1em;
	}

	.projects__project__detail {
		font-style: italic;
		color: var(--c-text-alt);
	}

</style>

<script>
	export let project;	
</script>

<li class="projects__project">
	<a class="projects__project__link" href={project.href}>{project.name} </a>
	<span class="projects__project__detail">- {project.detail}</span>
</li>
