<style type="text/css" media="screen">
	.projects__list {
		margin-top: 1rem;
		margin-bottom: 2rem;
	}

	.projects__project__more {
		display: inline-block;
		margin-top: 2rem;
		font-style: italic;
		display: none;
	}


</style>

<script charset="utf-8">
	const projects = [
		{ href: "https://hakka-nyusu.xyz", name: "hakka-nyusu.xyz", detail: "Hacker news, with a twist"  },
		/* { href: "https://karimcheurfi.com", name: "karimcheurfi.com", detail: "The home of my photography"  }, */
		/* { href: "https://fishrcooks.com", name: "FishrCooks", detail: "My recipes site"  }, */
		{ href: "https://gitlab.com/fishrxyz/draham", name: "draham", detail: "A crypto ticker written in python"  },
		{ href: "https://gitlab.com/fishrxyz/benzema", name: "benzema", detail:
		"A library I published to encode/decode bencode strings"  }
	];
	import Project from './Project.svelte';
</script>

<section class="home__section projects">
	<h3 class="home__section__heading">
		<span>root@fishrxyz:~# </span> ls /home/fishr/projects
	</h3>
	<p class="home__section__subheading">The following is a list of projects
	I've launched / I'm currently working on</p>
	<ul class="projects__list">

		{#each projects as project}
			<Project {project}/>
		{/each}

		<a class="projects__project__more"
			href="https://gitlab.com/fishrxyz/projects">more projects on my GitLab profile</a>
	</ul>
</section>
