<script charset="utf-8">
	let skills = [
		'Node.js (express/hapi.js)',
		'Python 3',
		'Flask and Django',
		'React / Vue / Svelte',
		'Sass (#TeamIndentedType)',
		'PostgreSQL',
		'ElasticSearch',
		'Redis',
		'Docker / Compose',
		'Ansible',
		'Gitlab CI',
		'Linux Administration',
		'C (for fun)'
	]
</script>

<section class="home__section skills">
	<h3 class="home__section__heading">
		<span>root@fishrxyz:~#</span> cat ~/skills.txt
	</h3>

	<p class="home__section__subheading">Below is a non exhaustive list of the
	languages/tools I use in my work:</p>
	
	<ul class="skills__list">
		{#each skills as skill}
			<li class="skills__list__item">{skill}</li>
		{/each}
	</ul>

</section>



