<style type="text/css" media="screen">
	main {
		padding: 2.5em 0;
	}
</style>

<script>
	import HomeHeader from './home/Header.svelte';
	import ProjectList from './home/ProjectList.svelte';
	import HomeAbout from './home/About.svelte';
	import SkillsList from './home/SkillsList.svelte'
	import Footer from './home/Footer.svelte';
</script>

<main>
	<HomeHeader />
	<HomeAbout />
	<ProjectList />
	<SkillsList />
	<Footer />
</main>